body {
    color: #333333;
    width: 978px;
    margin: 0 auto;
}

body.template-featured_videos_homepage {
    background: url("++resource++criticalcommons.skin.images/bg-body.jpg") no-repeat center top #FFF;
}

body.portaltype-plumivideo {
    background: url("++resource++criticalcommons.skin.images/bg-video.jpg") no-repeat center top #FFF;
}

/* FRONT PAGE */

.clips-area {
    width:665px;
    background:url("++resource++criticalcommons.skin.images/grey-border.gif") repeat-x 0 100%;
    padding:0 0 23px;
    margin-top: 35px;
}

.clips-area h3 {
    margin: 18px 0 0;
    width: 208px;
    color: #AA0131;
    font-size: 16px;
    line-height: 18px;
}

.clips-area .overhead:after {
    clear: both;
    content: "";
    display: block;
}

.clips-area .overhead {
    height: 1%;
    padding: 17px 0 0;
}

.clips-area .clips {
    float: left;
}

.clips-area img {
    display: block;
    margin-right: 15px;
}

.overhead .second-clip {
    margin: 0;
    position: relative;
}

.overhead .third-clip {
    margin: 0;
}

.clips-area .underbody {
    height: 1%;
    margin: 12px 0 0 149px;
    overflow: hidden;
}

div.first-clip img {
    width: 207px;
}

div.second-clip img {
    width: 278px;
}

div.third-clip img {
    width: 130px;
}

div.fourth-clip img {
    width: 130px;
}

div.fifth-clip img {
    width: 130px;
}

.clips-area strong {
    display: block;
    font-size: 11px;
    margin: 4px 0 0 3px;
    width: 130px;
}

.latest-news h2 {
    color: #AA0131;
    font-size: 14px;
    line-height: 16px;
    margin: 23px 0 0;
}

.info-block {
    background: url("++resource++criticalcommons.skin.images/grey-border.gif") repeat-x scroll 0 100% transparent;
    padding: 13px 10px 20px 0;
}

.info-block h4 {
    color: #006666;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.info-block h4 a {
    color: #006666;
    text-decoration: none;
}

.info-block em {
    color: #494949;
    display: block;
    font-style: normal;
    line-height: 20px;
}

.info-block strong {
    font-weight: normal;
    line-height: 21px;
}

.info-block strong a {
    color: #006666;
    text-decoration: none;
}

.info-block p {
    color: #494949;
    font-size: 14px;
    line-height: 20px;
    margin: 14px 0 0;
}

.info-block h4 a {
    color: #006666 !important;
    text-decoration: none;
}

/* PORTLETS */

#portal-column-two .rss ul li {
    background: url("++resource++criticalcommons.skin.images/btn-rss.gif") no-repeat scroll 0 0 transparent;
    padding: 0 0 7px 23px;
    display: block;
}

#portal-column-two .rss ul {
    margin: 10px 0 0;
}

.boxes ul {
    font-weight: bold;
    list-style: none outside none;
    margin: 9px 0 0;
    padding: 0;
}

.lectures ul {
    line-height: 15px;
    list-style: none outside none;
}



.boxes .lectures ul li {
    padding: 0 0 14px 37px;
}

.lectures ul li {
    background: url("++resource++criticalcommons.skin.images/lectures-bullet.gif") no-repeat scroll 0 4px transparent;
    padding: 0 0 18px 37px;
}

#portal-column-two h3 {
    margin: 0;
    background: url(++resource++criticalcommons.skin.images/red-border.gif) repeat-x 0 100%;
    padding: 0 0 10px;
}

#portal-columns h3 {
    color: #AA0131;
    font-size: 16px;
    line-height: 18px;
}

#portal-columns h3 a {
    color: #AA0131;
}

.lectures ul li strong {
    display: inline;
}



.lectures ul a:hover {
    text-decoration: underline;
}

.boxes ul a {
    text-decoration: none;
    color: #066;
}

.boxes ul li {
    padding: 0 0 14px;
    display: block;
}

.lectures ul a {
    color: #066;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#portal-column-two a.more {
    background: url("++resource++criticalcommons.skin.images/arrow.gif") no-repeat scroll 100% 60% transparent;
    color: #006666;
    float: left;
    font-weight: bold;
    margin: -3px 0 0;
    padding-right: 9px;
    text-decoration: none;
}

#portal-column-two .boxes {
    margin: 37px 0 0;
    padding: 0 15px 11px 10px;
}

/* styles transfered from the old site */

html {-webkit-text-size-adjust:none}

html, body {
        min-height:100%;
        font-family: Arial, Tahoma, Verdana, sans-serif;
        font-size:14px;
        }

p {
        font-size:14px;
        clear:both;
}

a:hover {
        text-decoration:underline;
        }

a:visited {
        color:#436976;
}

h1{
        font-size: 20px;
        font-weight: bold;
        padding-bottom:15px;
        margin-bottom:5px;
        }
#content h1 {
        background:url('++resource++criticalcommons.skin.images/grey-border.gif') repeat-x 0 100%;

}
h3{
        font-size: 14px;
        font-weight: bold;
        }

br {
        clear:both;
        }


#box-sign-in {
        margin-right:14px;
        width:160px;
        }

#box-edit-profile {
        margin-right:5px;
        width:150px;
}

#label-sign-in {
        margin-left:5px;
        width: 95px;
        }

#label-edit-profile {
        margin-left:10px;
        width: 110px;
}


#go-sign-in {
        margin-left:120px;
        float:left;
}

#go-edit-profile {
        margin-left:140px;
        float:left;
}

.accept-tos {
        float: left;
        width: 110px;
        text-align: right;
        font-size:16px;
        font-weight:bold;
        line-height:22px;
        padding:2px;
        margin-left:10px;
        margin-top:0px;
        clear:both;
}


select {
        max-width:99%;
}




/* Opera Settings */

@media only handheld and (max-device-width: 480px) {

html{
        width:260px;
        max-width:260px;
        }

img {
        max-width: 95%;
        }


#box-edit-profile {
        margin-right:5px;
        width:50%;
        }

#label-edit-profile {
        width:30%;
        }
}


#portal-top ul {
    font-weight: bold;
    list-style: none outside none;
}

#portal-top ul li a:hover,
#portal-top ul li.selected a:hover {
    border: 1px #006666 solid;
}

#portal-top ul li a, #portal-top ul li.selected a {
    border: 1px transparent solid;
    color: #006666;
    display: inline;
    text-decoration: none;
    border-radius: 3px;
}

#portal-globalnav .selected a:hover, #portal-top ul a:hover {
    color: #006666;
    display: inline;
}

#portal-top ul a span {
    display: block;
    padding-left: 7px;
}

#portal-globalnav li a {
    background: transparent !important;
    min-width: none !important;
    padding: 3px 5px;
    display: inline;
    clear: none;
}

#portal-globalnav {
    background: transparent !important;
    float: right;
    text-align: right;
    width: 690px;
    font-size: 90%;
    margin-top: 10px;
}

ul#portal-globalnav li {
   display: inline;
   margin: 0px 7px;
}

#portal-colophon {
    background: url("++resource++criticalcommons.skin.images/grey-border.gif") repeat-x scroll 0 0 transparent;
    color: #494949;
    font-size: 10px;
    height: 1%;
    line-height: 13px;
    list-style: none outside none;
    margin: 0 15px 0 13px;
    overflow: hidden;
    padding: 22px 0 54px;
}

#portal-colophon li {
    background: url("++resource++criticalcommons.skin.images/footer-separ.gif") no-repeat scroll 0 2px transparent;
    float: left;
    margin-left: -5px;
    padding: 0 8px 0 4px;
}

#portal-colophon a {
    color: #006666;
    text-decoration: none;
}

#content .documentDescription, #content #description {
 margin: 1em 0;
}

body.portaltype-plumivideo h1 {
    background: none repeat scroll 0 0 transparent !important;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

body.portaltype-plumivideo h3 {
    color: #333333 !important;
    font-size: 16px;
    line-height: 20px;
    margin: 11px 0 0;
}

#portal-searchbox {
    float: none;
    border: 1px solid #a0b8b8;
    border-radius: 5px; 
    padding: 8px;
    margin: 5px -10px 10px;
    width: 790px;
    padding-left: 180px;
}

#portal-searchbox select {
    border: 1px solid #B2B2B2;
    color: #333333;
    height: 22px;
    margin: 1px 0 0 5px;
    width: 160px;
    position: relative;
    top: -2px;
}

#portal-searchbox label {
    font-weight: bold;
    line-height: 22px;
    padding: 2px;
    font-size: 14px;
}

#portal-searchbox div {
    margin-right: 10px;
}

#portal-searchbox .txt-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #A6A6A6;
    display: inline;
    font-size: 12px;
    margin-left: 8px;
    padding: 3px 5px 2px;
    width: 247px;
}

#portal-searchbox .searchButton {
    margin: -5px 10px 0;
    vertical-align: middle;
    background-image: url(++resource++criticalcommons.skin.images/btn-go.gif);
    border: solid 0px  black; 
    width: 56px;
    height: 24px;
    cursor: pointer;
}

.search-img {
    clear: both;
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

body.template-search #content dd.thumbs {
    height: 107px;
}

body.template-search #content h1 {
    background: none !important;
}

#portal-logo {
    margin: 5px;
}

#portal-personaltools {
    background-color: transparent;
    top: 10px;
    font-size: 12px;
}

#portal-personaltools li a {
    padding: 3px 3px 3px 5px;
}

#clip-area {
    float: left;
    width: 481px;
}

#clip-area dl {
    line-height: 24px;
    list-style: none outside none;
    margin: 9px 0 0;
    padding: 0;
}

#clip-area dl dt {
    font-size: 14px;
}

#clip-area dl dd {
    margin: 0;
}

#video-infos {
    clear: both;
}

a.optionHeader-com {
    background-image: url("++resource++criticalcommons.skin.images/comments.gif");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 20px;
}

a.optionHeader-flag {
    background-image: url("++resource++criticalcommons.skin.images/flag.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#clip-area h5 {
    font-size: 14px;
    line-height: 16px;
}

.text-commentaries {
    float: right;
    overflow: hidden;
    padding: 41px 0 0;
    width: 433px;
}

.text-commentaries h2 {
    color: #AA0030;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.text-commentaries .com-form {
    background: url("++resource++criticalcommons.skin.images/red-border.gif") repeat-x scroll 0 100% transparent;
    padding: 9px 0 20px;
}


.text-commentaries h4 {
    font-size: 14px;
    line-height: 16px;
    margin: 10px 0 0;
}


.text-commentaries em {
    color: #494949;
    display: inline-block;
    font-style: normal;
    margin: 5px 0 0;
}


.text-commentaries p {
    font-size: 14px;
    line-height: 20px;
    margin: 19px 0 0;
}

.text-commentaries {
    float: right;
    overflow: hidden;
    width: 302px;
    padding: 41px 0 0;
}

.cinema {
    height: 1%;
    margin: 25px 0 0;
    overflow: hidden;
}


.info-cinema {
    float: right;
    width: 490px;
}

.com-form select {
    border: 1px solid #B2B2B2;
    height: 22px;
    margin: 18px 0 0;
    width: 238px;
}
input, textarea, select {
    font-size: 100%;
    vertical-align: middle;
}
select {
    -moz-appearance: menulist;
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-color: -moz-combobox;
    border-color: threedface;
    border-style: inset;
    border-width: 2px;
    color: -moz-comboboxtext;
    cursor: default;
    font: ;
    line-height: normal !important;
    margin: 0;
    overflow: -moz-hidden-unscrollable;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    white-space: nowrap !important;
    word-wrap: normal !important;
}

<<<<<<< HEAD
dl.plumi-country {
    display:none;
}

dl.plumi-videolanguage {
    display:none;
}

div.featured-block {
    margin-top: 10px;
}

dd.featuredItem {
    clear:left;
}

.featuredItem .plumi-nice-description {
    float: left;
    margin-left: 230px;
    margin-top: -80px;
}

span.featured-read-more {
    float: none;
}

#region-content .documentFirstHeading {
    margin-left: 10px;
    margin-top: 13px;
    padding-bottom: 0;
}

#region-content .portraitPhoto {
    margin-top: 0;
}

.actionMenuContent li a:hover {
    color: white !important;
}

.second-page h5 {
    font-size: 20px;
    line-height: 24px;
}

.third-page em.author {
    color: #494949;
    font-style: normal;
    line-height: 18px;
}

.third-page h5 {
    margin: 11px 0 0;
}

.third-page p {
    color: #494949;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0 0;
}

.third-page .cinema {
    height: 1%;
    margin: 25px 0 0;
    overflow: hidden;
}

.third-page .cinema img {
    float: left;
}
.third-page .cinema .info-cinema {
    float: right;
    width: 490px;
}

.third-page .cinema .info-cinema strong {
    color: #006666;
    display: block;
    font-size: 14px;
    line-height: 16px;
}

span.clip-description {
    display: block;
}

.additions {
    background:url("++resource++criticalcommons.skin.images/grey-border.gif") repeat-x 0 100%;
    height: 1%;
    padding: 15px 0 0;
    position: relative;
}

.search-results {
  margin: 30px 0 0;
}

.additions .column1 {
    display: inline;
    float: left;
    margin: 0 0 0 -4px;
    position: relative;
    width: 345px;
}
.search-results div {
    padding: 0 0 14px;
}

.additions .clips-holder {
    height: 1%;
    overflow: hidden;
    padding: 0 0 18px;
}

.clips-holder img {
    border: 1px solid #999999;
    float: left;
}

.additions .column2 {
    float: right;
    width: 309px;
}

body.section-lectures .boxes .lectures {
    display: none;
}
