body {
    color: #333333;
    font: 12px/14px Arial,Tahoma,Verdana,sans-serif;
    width: 978px;
    margin: 0 auto;
    background: url("++resource++criticalcommons.skin.images/bg-body.jpg") no-repeat scroll center top #FFFFFF;
}

/* FEATURED CLIPS WIDGET */

.clips-area {
	width:665px;
	background:url("++resource++criticalcommons.skin.images/grey-border.gif") repeat-x 0 100%;
	padding:0 0 23px;
}

.clips-area h3 {
    margin: 18px 0 0;
    width: 208px;
    color: #AA0131;
    font-size: 16px;
    line-height: 18px;
}

.clips-area .overhead:after {
    clear: both;
    content: "";
    display: block;
}

.clips-area .overhead {
    height: 1%;
    padding: 17px 0 0;
}

.clips-area .clips {
    float: left;
}

.clips-area img {
    display: block;
    margin-right: 15px;
}

.overhead .second-clip {
    margin: 0;
    position: relative;
}

.overhead .third-clip {
    margin: 0;
}

.clips-area .underbody {
    height: 1%;
    margin: 12px 0 0 149px;
    overflow: hidden;
}

div.first-clip img {
    width: 209px;
}

div.third-clip img {
    width: 130px;
}

div.fourth-clip img {
    width: 130px;
}


div.fifth-clip img {
    width: 130px;
}


.clips-area strong {
    display: block;
    font-size: 11px;
    margin: 4px 0 0 3px;
    width: 130px;
}


#portal-column-two .rss ul li {
    background: url("++resource++criticalcommons.skin.images/btn-rss.gif") no-repeat scroll 0 0 transparent;
    padding: 0 0 7px 23px;
    display: block;
}

portal-column-two .rss ul {
    margin: 10px 0 0;
}

.boxes ul {
    font-weight: bold;
    list-style: none outside none;
    margin: 9px 0 0;
    padding: 0;
}

.lectures ul {
    line-height: 15px;
    list-style: none outside none;
}



.boxes .lectures ul li {
    padding: 0 0 14px 37px;
}

.lectures ul li {
    background: url("++resource++criticalcommons.skin.images/lectures-bullet.gif") no-repeat scroll 0 4px transparent;
    padding: 0 0 18px 37px;
}

#portal-column-two h3 {
    margin: 0;
    background: url(++resource++criticalcommons.skin.images/red-border.gif) repeat-x 0 100%;
    padding: 0 0 10px;
}

#portal-columns h3 {
    color: #AA0131;
    font-size: 16px;
    line-height: 18px;
}

#portal-columns h3 a {
    color: #AA0131;
}

.lectures ul li strong {
    display: inline;
}


boxes ul a:hover {
    text-decoration: underline;
}

.lectures ul a:hover {
    text-decoration: underline;
}

.boxes ul a {
    text-decoration: none;
    color: #066;
}

.boxes ul li {
    padding: 0 0 14px;
    display: block;
}

.lectures ul a {
    color: #066;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#portal-column-two a.more {
    background: url("++resource++criticalcommons.skin.images/arrow.gif") no-repeat scroll 100% 60% transparent;
    color: #006666;
    float: left;
    font-weight: bold;
    margin: -3px 0 0;
    padding-right: 9px;
    text-decoration: none;
}

#portal-column-two .boxes {
    margin: 37px 0 0;
    padding: 0 15px 11px 10px;
}
